vrrp_script chk_docker_registry {
      script "/etc/keepalived/scripts/check_docker_registry.sh"
      interval 5
      weight -10
}

vrrp_instance {{ vrrp_instance }} {
      state BACKUP
      interface {{ interface }}
      virtual_router_id {{ virtual_router_id }}
      priority {{ standby_priority }}
      advert_int 1
      authentication {
            auth_type PASS
            auth_pass {{ password }}
      }
      virtual_ipaddress {
            {{ virtual_address }}/{{ virtual_netmask }}
      }

      track_script {
            chk_docker_registry
      }
}

global_defs {
      script_user root
      enable_script_security
}